@model UserDetailVM

@{
    ViewData["Title"] = "Details";
}

<body>
    <main>
        <div class="new-users">
            <h2>Personnel Details</h2>
            <div class="user-list" onclick="redirectToDetailsPage()">
                <div class="user">
                    <img src="~/images/profilepic/@Model.Photo">
                    <h2 style="margin-top:15px">@Model.FullName</h2>
                    <dl class="description-list mt-5">

                        <dt><b>Email</b></dt>
                        <dd>@Model.Email</dd>

                        <dt><b>Phone Number</b></dt>
                        <dd>@Model.PhoneNumber</dd>

                        <dt><b>Birth Date</b></dt>
                        <dd>@Model.BirthDate.ToString("dd.MM.yyyy")</dd>

                        <dt><b>Birth Place</b></dt>
                        <dd>@Model.BirthPlace</dd>

                        <dt><b>Hire Date</b></dt>
                        <dd>@Model.HireDate.ToString("dd.MM.yyyy")</dd>

                        <dt><b>Profession</b></dt>
                        <dd>@Model.Profession</dd>

                        <dt><b>Department</b></dt>
                        <dd>@Model.Department</dd>

                        <dt><b>Address</b></dt>
                        <dd>@Model.Address</dd>
                    </dl>
                    <input type="button" class="btn btn-outline-primary" onclick="redirectToEditPage()" value="Edit">
                </div>
            </div>
        </div>
    </main>
</body>
<script>
    function redirectToEditPage() {

        window.location.href = "Edit";
    }
    function redirectToMainPage() {

        window.location.href = "Index";
    }
</script>