@model UserDetailBaseVM
@{
    ViewData["Title"] = "Index";

}

<body>
    <main>
        <!-- Main Page Section -->
        <div class="new-users">
            <h2>Home</h2>
            <div class="user-list" onclick="redirectToDetailsPage()">
                <div class="user">
                    <img src="~/images/profilepic/@Model.Photo">
                    <h2 style="margin-top:15px">@Model.FullName</h2>
                    <dl class="description-list mt-5">
                        <dt><b>Email</b></dt>
                        <dd>@Model.Email</dd>

                        <dt><b>Phone Number</b></dt>
                        <dd>@Model.PhoneNumber</dd>

                        <dt><b>Address</b></dt>
                        <dd>@Model.Address</dd>

                        <dt><b>Profession</b></dt>
                        <dd>@Model.Profession</dd>

                        <dt><b>Department</b></dt>
                        <dd>@Model.Department</dd>
                    </dl>
                </div>
            </div>
        </div>
        <!-- End of Main Page Section -->
    </main>
</body>
<script>
    function redirectToDetailsPage() {

        window.location.href = "/User/Details";
    }
</script>