@model List<ExpenseRequest>

<body>
    <main>
        <div class="new-users text-center">
            <h2>Expense Requests</h2>
            <div class="user-list mt-4">
                <ul class="nav nav-tabs mt-5" id="employeeTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active text-decoration-none" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All Requests</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-decoration-none" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="false">Pending Requests</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-decoration-none" id="approved-tab" data-toggle="tab" href="#approved" role="tab" aria-controls="approved" aria-selected="false">Approved Requests</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-decoration-none" id="refused-tab" data-toggle="tab" href="#refused" role="tab" aria-controls="refused" aria-selected="false">Refused Requests</a>
                    </li>
                </ul>

                <div class="tab-content" id="requestTabContent">
                    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                        <!-- Tüm talepler tablosu -->
                        <table class="table table-bordered table-striped table-hover mt-5 text-center">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Owner</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Currency</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var expenseRequest in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="ExpenseRequestDetails" asp-route-id="@expenseRequest.Id" class="text-dark">
                                                <span class="material-symbols-outlined">
                                                    quick_reference_all
                                                </span>
                                            </a>
                                        </td>
                                        <td>@expenseRequest.AppUser.FullName</td>
                                        <td>@expenseRequest.RequestType.RequestName</td>
                                        <td>@expenseRequest.CreateDate</td>
                                        <td>@expenseRequest.ExpenseAmount</td>
                                        <td>@expenseRequest.Currency</td>
                                        <td>
                                            @if (expenseRequest.ApprovalStatus == HrELP.Domain.Entities.Enums.ApprovalStatus.Pending_Approval)
                                            {
                                                <span class="material-symbols-outlined text-warning">
                                                    hourglass_top
                                                </span>
                                            }
                                            else if (expenseRequest.ApprovalStatus == HrELP.Domain.Entities.Enums.ApprovalStatus.Approved)
                                            {
                                                <span class="material-symbols-outlined text-success">
                                                    check_circle
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="material-symbols-outlined text-danger">
                                                    cancel
                                                </span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab">
                        <!-- Bekleyen talepler tablosu -->
                        <table class="table table-bordered table-striped table-hover mt-5 text-center">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Owner</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Currency</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var expenseRequest in Model)
                                {
                                    @if (expenseRequest.ApprovalStatus == ApprovalStatus.Pending_Approval)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-action="ExpenseRequestDetails" asp-route-id="@expenseRequest.Id" class="text-dark">
                                                    <span class="material-symbols-outlined">
                                                        quick_reference_all
                                                    </span>
                                                </a>
                                            </td>
                                            <td>@expenseRequest.AppUser.FullName</td>
                                            <td>@expenseRequest.RequestType.RequestName</td>
                                            <td>@expenseRequest.CreateDate</td>
                                            <td>@expenseRequest.ExpenseAmount</td>
                                            <td>@expenseRequest.Currency</td>
                                            <td>
                                                <span class="material-symbols-outlined text-warning">
                                                    hourglass_top
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="approved" role="tabpanel" aria-labelledby="approved-tab">
                        <!-- Onaylanan talepler tablosu -->
                        <table class="table table-bordered table-striped table-hover mt-5 text-center">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Owner</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Currency</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var expenseRequest in Model)
                                {
                                    @if (expenseRequest.ApprovalStatus == ApprovalStatus.Approved)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-action="ExpenseRequestDetails" asp-route-id="@expenseRequest.Id" class="text-dark">
                                                    <span class="material-symbols-outlined">
                                                        quick_reference_all
                                                    </span>
                                                </a>
                                            </td>
                                            <td>@expenseRequest.AppUser.FullName</td>
                                            <td>@expenseRequest.RequestType.RequestName</td>
                                            <td>@expenseRequest.CreateDate</td>
                                            <td>@expenseRequest.ExpenseAmount</td>
                                            <td>@expenseRequest.Currency</td>
                                            <td>
                                                <span class="material-symbols-outlined text-success">
                                                    check_circle
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="refused" role="tabpanel" aria-labelledby="refused-tab">
                        <!-- Reddedilen talepler tablosu -->
                        <table class="table table-bordered table-striped table-hover mt-5 text-center">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Owner</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Currency</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var expenseRequest in Model)
                                {
                                    @if (expenseRequest.ApprovalStatus == ApprovalStatus.Declined)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-action="ExpenseRequestDetails" asp-route-id="@expenseRequest.Id" class="text-dark">
                                                    <span class="material-symbols-outlined">
                                                        quick_reference_all
                                                    </span>
                                                </a>
                                            </td>
                                            <td>@expenseRequest.AppUser.FullName</td>
                                            <td>@expenseRequest.RequestType.RequestName</td>
                                            <td>@expenseRequest.CreateDate</td>
                                            <td>@expenseRequest.ExpenseAmount</td>
                                            <td>@expenseRequest.Currency</td>
                                            <td>
                                                <span class="material-symbols-outlined text-danger">
                                                    cancel
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
