@using HrELP.Application.Models.ViewModels;

@model LeaveRequestsVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["StartDate"] = DateTime.Now.AddDays(-7).ToString("yyyy-MM-ddTHH:mm");
}
<body>
    <main>
        <div class="new-users">
            <h2>Leave Request</h2>
            <div class="user-list mt-4">
                <div class="user">
                    <form asp-controller="Personnel" asp-action="CreateLeaveRequest" method="post">
                        <div class="form-group">
                            <label asp-for="LeaveTypeId">Leave Type</label>
                            <select asp-for="LeaveTypeId" class="form-select">
                                @foreach (var item in Model.LeaveTypes)
                                {
                                    if (Model.Personnel.Gender == item.Gender)
                                    {
                                        <option value="@item.LeaveTypeId" data-dayvalue="@item.DayValue">@item.LeaveTypeName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <br />
                            <label for="Description">Description:</label>
                            <textarea class="form-control" type="text" asp-for="Description" id="description" name="description" rows="4" cols="50" readonly></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span><br />
                            <label for="StartDate">Leave Start Date:</label>
                            <input class="form-control" type="datetime-local" asp-for="StartDate" id="start-date" name="StartDate" value="@ViewData["StartDate"]">
                            <span asp-validation-for="StartDate" class="text-danger"></span><br />
                            <label for="EndDate">Leave End Date:</label>
                            <input class="form-control" type="datetime-local" asp-for="EndDate" id="end-date" name="EndDate" value="@DateTime.Now" readonly>
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="text-center">
                            <button class="btn btn-outline-primary mt-2" type="submit">Create Leave Request</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

<script>


    document.addEventListener("DOMContentLoaded", function () {
        var startInput = document.getElementById('start-date');
        var endInput = document.getElementById('end-date');

        startInput.addEventListener('change', function () {
            var startDate = new Date(startInput.value);
            var minDate = new Date();
            minDate.setDate(minDate.getDate() - 7);

            if (startDate < minDate) {
                startInput.setCustomValidity('Start date must be at least 7 days from the current date.');
            } else {
                startInput.setCustomValidity('');
            }

            if (endInput.value !== '' && new Date(endInput.value) < startDate) {
                endInput.setCustomValidity('End date must be after the start date.');
            } else {
                endInput.setCustomValidity('');
            }
        });

        endInput.addEventListener('change', function () {
            var endDate = new Date(endInput.value);
            var startDate = new Date(startInput.value);

            if (endDate < startDate) {
                endInput.setCustomValidity('End date must be after the start date.');
            } else {
                endInput.setCustomValidity('');
            }
        });
    });
    document.querySelector('select[name="LeaveTypeId"]').addEventListener('change', function () {
        var leaveTypeSelect = document.querySelector('select[name="LeaveTypeId"]');
        var selectedLeaveType = leaveTypeSelect.options[leaveTypeSelect.selectedIndex];
        var dayValue = parseFloat(selectedLeaveType.getAttribute('data-dayvalue'));
        var startDate = new Date(document.getElementById('start-date').value);
        var endDate = new Date(startDate.getTime() + dayValue * 24 * 60 * 60 * 1000);
        var endDateInput = document.getElementById('end-date');
        endDateInput.value = endDate.toISOString().slice(0, 16);
        var descriptionInput = document.getElementById('description');
        descriptionInput.value = dayValue.toString() + " Days Off";
    });

</script>

